.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

.icons{
    display: flex;
    // justify-content: space-between;
    gap: 20px;
    position: relative;
    top: 20px;
    font-size: 25px;
}